* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    min-height: 100%;
}

html {
    height: 100%;
    font-family:Poppins;
}

/* CSS NAVBAR */
.logo {
    width: 370px;
    height: 172px;
    position: absolute;
    bottom: 125px;
}

.enlaces {
    position: absolute;
    top: 200px;
    justify-content: center;
}

#carrito {
    padding: 10px;
}

#login {
    padding: 10px;
}

/* CSS FOOTER */
.bg-footer {
    background-color: #3D71BB;
}

/* CSS CONTENIDO */


@keyframes animate{
    0% {
        background-position: left 0px top 80px;
    }

    40% {
        background-position: left 800px top -50px;
    }

    80% {
        background-position: left 400px top -50px;
    }

}


.navbar {
    grid-area: navbar;
    background-color: #3d71bb;
    height: 270px;
   
}

.imagenportada {
    grid-area: imagenportada;
}

.fotoportada {
    width: 100%;
}

.articulo1 {

    grid-area: articulo1;
    padding: 30px;
    font-family:Poppins ;
    
}

.articulo2 {
    grid-area: articulo2;
    padding-left: 20px;
}

.Fotoizquierda {
    width: 100%;
}

.tituloEquipo {
    grid-area: tituloEquipo;
    padding: 30px;
}

.columna1 {
    grid-area: columna1;
    padding: 18px;
}

.columna2 {
    grid-area: columna2;
    padding: 18px;
    
}

.footer1 {
    grid-area: footer1;
    
}

/*VistaCelular*/

.grid-container {
    grid-template-columns: auto;
    grid-template-rows: 20% auto auto auto auto auto auto auto;
    grid-template-areas: "navbar" "imagenportada" "articulo1" "articulo2" "tituloEquipo" "columna1" "columna2" "footer1";
  
}

.facebook{
    grid-area:facebook;
    width: auto;
    height:auto;
}
.instagram{
    grid-area: instagram;
    width: auto;
    height:auto;
}
.whatsapp{
    grid-area:whatsapp;
    width: auto;
    height:auto;
}

@media(max-width: 899px) {

    .grid-container {
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-template-columns: auto;
        grid-template-areas:
            'navbar'
            'imagenportada'
            'articulo1'
            'articulo2'
            'tituloEquipo'
            'columna1'
            'columna2'
            'footer1';
        gap: 0px;
        height: 100%;
    }
}

/*Escritorio*/
@media(min-width:900px) {
    .grid-container {
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-columns: auto auto;
        grid-template-areas:
            'navbar navbar'
            'imagenportada imagenportada'
            'articulo1 articulo2'
            'tituloEquipo tituloEquipo'
            'columna1 columna2'
            'columna1 columna2'
            'footer1 footer1';
    }

}

 @media(max-width: 899px) {
    .footer1 {
        vertical-align: middle;
        
        
        grid-template-rows: auto;
        grid-template-columns: auto auto;

        grid-template-areas:
            'columnaF1 columnaF2';
            gap: 0px;
        height: 100%;        
    }

    .nav-item{
        display: none;
    }
} 

.facebook {
    grid-area: facebook;
    width: auto;
    height: auto;
}
.instagram {
    grid-area: instagram;
    width: auto;
    height: auto;
}
.whatsapp {
    grid-area: whatsapp;
    width: auto;
    height: auto;
}