* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
}

html {
    height: 100%;
    font-family:'Poppins';
}

a {
    text-decoration: none;
    color: white;
}
/* CSS NAVBAR */
.img-container {
    grid-area: img-container;
    padding: 15px;
}
.enlaces-container {
    grid-area: enlaces-container;

}
.login-container {
    grid-area: login-container;
}
.lista{
 list-style-type: none;
 display: inline;
 object-fit: contain;
}

#login{
    width: 30px;
    height: 50px;
    padding-bottom: 15px;
}
#carrito{
    width: 30px;
    height: 40px;
}
/* CSS FOOTER */
.bg-footer {
    background-color: #3D71BB;
}

/* CSS CONTENIDO */
.navbar {
    grid-area: navbar;
    background-color: #3d71bb;
    height: 270px;
    width: 100%;
}
.footer1 {
    grid-area: footer1;
}
.formulario{
    grid-area: formulario;
}
.informacion{
    grid-area: informacion;
    padding: 50px;
}

/*VistaCelular*/
@media(max-width: 899px) {
    .navbar{
        display: grid;
        grid-template-rows:60% 40%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
        grid-template-areas: 
        '. img-container img-container img-container login-container'
        '. enlaces-container enlaces-container enlaces-container login-container';
    }
    .grid-container {
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: auto;
        grid-template-areas:
            'navbar'
            'imagenportada'
            'formulario'
            'informacion'
            'footer1';
        gap: 0px;
        height: 100%;
    }
    /* footer */
    .footer1 {
        display: grid; 
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
         'col2 col1'
         'col3 col5'
         'col4 col6';
        
        gap: 0px;
        height: 100%;
    } /* Grid Footer */


    .nav-item {
        display: none;
    }
    .enlaces-container {
        display: none;
    }
      
}

/*Escritorio*/
@media(min-width:900px) {
    .navbar{
        display: grid;
        grid-template-rows:60% 40%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
        grid-template-areas: 
        '. img-container img-container img-container login-container'
        '. enlaces-container enlaces-container enlaces-container login-container';
    }
    .grid-container {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            'navbar navbar'
            'imagenportada imagenportada'
            'formulario  informacion'
            'footer1 footer1';
        gap: 0px;
        height: 100%;
    }
    .footer1 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-areas:
            'col1 col2 col3 col4 col5 col6';

        gap: 0px;
        height: 100%;

    }    /* Grid Footer */
}


.col1 {
    grid-area: col1;
    padding: auto;
    text-align: center;
}

.col2 {
    grid-area: col2;
    padding: auto;
     text-align: center;
     
}

.col3 {
    grid-area: col3;
    padding: auto;
    text-align: center;
}

.col4 {
    grid-area: col4;
    padding: auto;
    text-align: center;
}

.col5 {
    grid-area: col5;
    padding: auto;
    text-align: center;
}

.col6 {
    grid-area: col6;
    padding: auto;
    text-align: center;
}
 

.formulario {
    padding: 50px;
}


/*css footer no tocar xd*/
 .facebook {
    grid-area: facebook;
    width: auto;
    height: auto;
}
.instagram {
    grid-area: instagram;
    width: auto;
    height: auto;
}
.whatsapp {
    grid-area: whatsapp;
    width: auto;
    height: auto;
}